/* --Importing fonts-- */
@font-face {
    font-family: Roboto-flex-variable;
    src: url(fonts/roboto-flex-variable-full.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}


a {
    text-decoration: none;
    color: black;
}

#main {
    width: 100%;
}




/* -----Home section----- */
.home {
    min-height: 100vh;
    width: 100vw;
}


/* Navbar of home */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 35px;
}

nav img {
    width: 13vh;
}

nav .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    font-weight: 300;
    font-size: 1.5vw;
}

.menu-icon .line {
    height: 2px;
    width: 25px;
    background-color: black;
    border-radius: 5px;
    margin: 5px;
}